@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px; /* Add this line to set the height of the horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #00302e;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #38b2ac; 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #38b2acc4; 
}

body{
  overflow-x: hidden;
}

.loader {
  border: 10px solid #111827;
  border-top: 10px solid #14b8a6;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
